.card {
  margin-top: 20px;
  border: none;
}

.containerArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-card {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

.article-image {
  text-align: center;
}

.article-image img {
  width: 100%;
  max-height: 150px;
  /* Tamaño máximo de altura */
  object-fit: contain;
  /* Mantiene la relación de aspecto y ajusta la imagen */
}

.article-details {
  flex-grow: 1;
  padding: 10px;
}

.article-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/* Estilos para el paginador */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
}

.pagination li a {
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}