<div class="card border-primary mb-3">
  <div class="card-header">Header</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista articulos</h5>
    <div class="my-2">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/articulo/form']"
      >
        Nuevo articulo
      </button>
    </div>
    <div *ngIf="articulos?.length == 0" class="alert alert-info">
      No hay articulos en la base de datos
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="articulos?.length > 0"
    >
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>createdAt</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articulo of articulos">
          <td>{{ articulo.id_articulo }}</td>
          <td>{{ articulo.nombre_articulo }}</td>
          <td>{{ articulo.descripcion }}</td>
          <td>
            {{ articulo.fecha_publicacion | date : "EEEE dd, MMMM yyyy" }}
          </td>
          <td>
            <Button
              [routerLink]="['/articulo/form', articulo.id_articulo]"
              class="btn btn-warning btn-sm"
              >Editar</Button
            >
          </td>
          <td>
            <button
              (click)="deleteArticulo(articulo)"
              class="btn btn-danger btn-sm"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
