<div class="card my-4">
  <div class="card-header">
    <ul class="nav nav-pills">
      <li class="nav-item mr-2">
        <button
          class="btn btn-success"
          type="button"
          (click)="conectar()"
          *ngIf="!conectado"
        >
          Conectar
        </button>
      </li>
      <li class="nav-item">
        <button
          class="btn btn-warning"
          type="button"
          (click)="desconectar()"
          *ngIf="conectado"
        >
          Cerrar chat
        </button>
      </li>
    </ul>
  </div>
  <div
    class="card-body"
    style="overflow-y: scroll; height: 360px"
    *ngIf="conectado"
  >
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item list-group-item-light"
        *ngFor="let mensaje of mensajes"
      >
        <span *ngIf="mensaje.tipo == 'NUEVO_USUARIO'"
          >{{ mensaje.fecha_envio | date : "shortTime" }} @ {{ mensaje.texto }}
          {{ mensaje.documento_usuario.nombre_completo }}</span
        >
        <span *ngIf="mensaje.tipo == 'MENSAJE'"
          >{{ mensaje.fecha_envio | date : "shortTime" }}
          {{ mensaje.documento_usuario.nombre_completo }} dice:
          {{ mensaje.texto }}</span
        >
      </li>
    </ul>
  </div>
  <div class="card-footer" *ngIf="conectado">
    <form class="form-inline">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Escribe un mensaje..."
          name="texto"
          [(ngModel)]="mensaje.texto"
        />
        <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
