<div class="card my-4">
  <div class="card-header">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <p>Mensajes</p>
      </li>
    </ul>
  </div>
  <div
    class="card-body"
    style="overflow-y: scroll; height: 360px"
    *ngIf="conectado"
  >
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item list-group-item-light"
        *ngFor="let mensaje of mensajes"
      >
        <span *ngIf="mensaje.tipo == 'NUEVO_USUARIO'">
          <span [ngStyle]="{ color: mensaje.color }"
            >{{ mensaje.documento_usuario.nombre_completo }}:
          </span>
          {{ mensaje.texto }}
          <span class="publication-date">{{
            mensaje.fecha_envio | date : "shortTime"
          }}</span>
        </span>
        <span *ngIf="mensaje.tipo == 'MENSAJE'">
          <span [ngStyle]="{ color: mensaje.color }"
            >{{ mensaje.documento_usuario.nombre_completo }}:</span
          >
          {{ mensaje.texto }}
          <span class="publication-date">{{
            mensaje.fecha_envio | date : "shortTime"
          }}</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="card-footer" *ngIf="conectado">
    <form class="form-inline">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Escribe un mensaje..."
          name="texto"
          [(ngModel)]="mensaje.texto"
        />
        <button
          class="btn btn-primary"
          type="submit"
          (click)="enviarMensaje()"
          [disabled]="!mensaje.texto || !mensaje.texto.trim()"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
