<!-- <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Re-use</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="
            authService.usuario.roles == ['ROLE_ADMIN'][0] ||
            authService.usuario.roles == ['ROLE_USER'][0]
          "
        >
          <a class="nav-link" routerLink="/chats">chats con usuarios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/articulo">Articulos</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="authService.usuario.roles == ['ROLE_ADMIN'][0]"
        >
          <a class="nav-link" routerLink="/categoria">Categorias</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="authService.usuario.roles == ['ROLE_USER'][0]"
        >
          <a class="nav-link" routerLink="/usuario/detail">Mi perfil</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="
            authService.usuario.roles == ['ROLE_ADMIN'][0] ||
            authService.usuario.roles == ['ROLE_USER'][0]
          "
        >
          <a class="nav-link" routerLink="/usuario/articulos">Mis articulos</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button
          *ngIf="!authService.isAuthenticated()"
          class="btn btn-outline-success"
          type="submit"
          routerLink="/login"
        >
          Login
        </button>

        <li class="dropdown" *ngIf="authService.isAuthenticated()">
          <a
            class="btn btn-outline-primary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ authService.usuario.email }}
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button (click)="logout()" class="dropdown-item" type="submit">
              Sing out
            </button>
          </ul>
        </li>
      </form>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Re-use</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="
            authService.usuario.roles == ['ROLE_ADMIN'][0] ||
            authService.usuario.roles == ['ROLE_USER'][0]
          "
        >
          <a class="nav-link text-white" routerLink="/chats"
            >Chats con Usuarios</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/articulo">Artículos</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="authService.usuario.roles == ['ROLE_ADMIN'][0]"
        >
          <a class="nav-link text-white" routerLink="/categoria">Categorías</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="
            authService.usuario.roles == ['ROLE_ADMIN'][0] ||
            authService.usuario.roles == ['ROLE_USER'][0]
          "
        >
          <a class="nav-link text-white" routerLink="/usuario/detail"
            >Mi Perfil</a
          >
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="
            authService.usuario.roles == ['ROLE_ADMIN'][0] ||
            authService.usuario.roles == ['ROLE_USER'][0]
          "
        >
          <a class="nav-link text-white" routerLink="/usuario/articulos"
            >Mis Artículos</a
          >
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="
            authService.usuario.roles == ['ROLE_ADMIN'][0] ||
            authService.usuario.roles == ['ROLE_USER'][0]
          "
        >
          <a class="nav-link text-white" routerLink="/informacion"
            >Acerca de Re-use</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button
          *ngIf="!authService.isAuthenticated()"
          class="btn btn-outline-success text-white"
          type="submit"
          routerLink="/login"
        >
          Login
        </button>
        <div class="dropdown" *ngIf="authService.isAuthenticated()">
          <button
            class="btn btn-outline-primary dropdown-toggle text-white"
            type="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ authService.usuario.email }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button (click)="logout()" class="dropdown-item" type="submit">
              Sign out
            </button>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
