.profile-container {
    display: flex;
    justify-content: space-between;
    /* Esto distribuirá los elementos alrededor del contenedor */
    margin-bottom: 20px;
    margin-top: 50px;
    /* O cualquier otro margen que desees */
}

.profile-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 45%;
    /* Cambiando el ancho a 600px */
    margin: 20px auto 0;
    /* Añadiendo margen superior de 20px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-details {
    padding: 20px;
}

.profile-name {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.profile-info {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.profile-info li {
    margin-bottom: 10px;
}

.profile-info strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .profile-card {
        max-width: 100%;
    }
}

/* ... Estilos para la tarjeta, imagen, nombre y detalles siguen igual */

.profile-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

.profile-buttons-desc {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    margin-top: auto;
}

.edit-button,
.info-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover,
.info-button:hover {
    background-color: #0056b3;
}

.profile-info li {
    margin-bottom: 20px;
    /* O el valor que desees para el espacio entre elementos */
}


