<div class="container">
  <h2>Formulario</h2>
  <form>
    <div class="form-group">
      <label for="documento">Documento:</label>
      <input
        type="text"
        class="form-control"
        id="documento"
        name="documento"
        [(ngModel)]="usuario.documento_usuario"
      />
    </div>

    <div class="form-group">
      <label for="nombre">Nombre Completo:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        [(ngModel)]="usuario.nombre_completo"
      />
    </div>

    <div class="form-group">
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input
        type="date"
        class="form-control"
        id="fechaNacimiento"
        name="fechaNacimiento"
        [(ngModel)]="usuario.fecha_nacimiento"
      />
    </div>

    <div class="form-group">
      <label for="pais">País:</label>
      <input
        type="text"
        class="form-control"
        id="pais"
        name="pais"
        [(ngModel)]="usuario.pais"
      />
    </div>

    <div class="form-group">
      <label for="ciudad">Ciudad:</label>
      <input
        type="text"
        class="form-control"
        id="ciudad"
        name="ciudad"
        [(ngModel)]="usuario.ciudad"
      />
    </div>

    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input
        type="text"
        class="form-control"
        id="direccion"
        name="direccion"
        [(ngModel)]="usuario.direccion"
      />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="usuario.email"
      />
    </div>

    <div class="form-group" *ngIf="usuarioService.modoEdicion">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="usuario.password"
      />
    </div>

    <div class="form-group" *ngIf="usuarioService.modoEdicion">
      <label for="password">Imagen:</label>
      <input
        (change)="seleccionarFoto($event)"
        type="file"
        class="form-control"
        id="inputGroupFile04"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
      />
    </div>

    <button type="submit" class="btn btn-primary" (click)="crearUsuarios()">
      Enviar
    </button>
  </form>
</div>
