<div class="container">
  <h2>Formulario</h2>
  <form>
    <div class="form-group" *ngIf="categoriaService.modoEdicion">
      <label for="id">ID:</label>
      <input
        type="text"
        class="form-control"
        id="id"
        name="id"
        [(ngModel)]="categoria.id_categoria"
      />
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        [(ngModel)]="categoria.nombre_cat"
      />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea
        class="form-control"
        id="descripcion"
        name="descripcion"
        [(ngModel)]="categoria.descripcion_cat"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="id_existe"
        >Seleccione en que estado se encuentra el articulo:</label
      >
      <select
        [compareWith]="compararExiste"
        class="form-control"
        id="selectInput"
        name="id_existe"
        [(ngModel)]="categoria.id_existe"
      >
        <option [ngValue]="undefined">--- Seleccione una opcion ---</option>
        <option *ngFor="let existe of exist" [ngValue]="existe">
          {{ existe.existe }}
        </option>
      </select>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      (click)="createCategoria()"
      *ngIf="!categoria.id_categoria; else elseBlock"
    >
      Crear
    </button>
    <ng-template #elseBlock>
      <button type="submit" class="btn btn-primary" (click)="updateCategoria()">
        Actualizar
      </button>
    </ng-template>
  </form>
</div>
