<div class="container">
  <div class="row">
    <div class="col" *ngFor="let articulo of articulos">
      <div class="card" style="width: 18rem">
        <img
          src="https://via.placeholder.com/286x180.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ articulo.nombre_articulo }}</h5>
          <p class="card-text">{{ articulo.descripcion }}</p>
          <p class="card-text">{{ articulo.id_estado.estado }}</p>
          <a href="#" class="btn btn-primary">Solicitar</a>
        </div>
      </div>
    </div>
  </div>
</div>
