<div *ngIf="modalService.modal" class="abrir-modal animacion fadeIn">
  <div class="modal" tabindex="-1" style="display: block">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul *ngIf="articulo" class="list-group text-dark mb-3">
                  <li class="list-group-item active">
                    {{ articulo.id_articulo }}
                  </li>
                  <li class="list-group-item">
                    {{ articulo.nombre_articulo }}
                  </li>
                  <li class="list-group-item">{{ articulo.descripcion }}</li>
                  <li class="list-group-item">
                    {{ articulo.fecha_publicacion | date : "fullDate" }}
                  </li>
                  <li class="list-group-item">
                    {{ articulo.ultima_modificacion }}
                  </li>
                  <li class="list-group-item">
                    {{ articulo.id_categoria.nombre_cat }}
                  </li>
                  <li class="list-group-item">
                    {{ articulo.id_estado.estado }}
                  </li>
                  <li class="list-group-item">
                    {{ articulo.id_entrega.estado }}
                  </li>
                  <li class="list-group-item">
                    {{ articulo.id_estado_articulo.estado_articulo }}
                  </li>
                </ul>

                <div class="input-group mb-3">
                  <input
                    (change)="seleccionarFoto($event)"
                    type="file"
                    class="form-control"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload"
                  />
                  <button
                    (click)="subirFoto()"
                    class="btn btn-outline-secondary"
                    type="button"
                    id="inputGroupFileAddon04"
                  >
                    Upload
                  </button>
                </div>

                <div class="progress" *ngIf="progreso > 0">
                  <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    [ngStyle]="{ width: progreso + '%' }"
                    [attr.aria-valuenow]="progreso"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ progreso }}%
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <img
                  *ngIf="articulo?.imagen_articulo"
                  src="http://localhost:8080/articulo/uploads/img/{{
                    articulo.imagen_articulo
                  }}"
                  alt="{{ articulo.imagen_articulo }}"
                  class="img-fixed-size"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="cerrarModal()"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
