<!-- about.component.html -->

<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <!-- Única columna -->
    <div class="col-md-6 img-container text-center">
      <img
        src="http://localhost:8080/articulo/uploads/img/logo_proyecto.jfif"
        alt="Imagen"
        class="img-fluid mb-3"
      />
      <h3>Re-use proyecto de grado</h3>
      <p class="custom-text-justify">
        Bienvenido a Re-use, un proyecto universitario que va más allá de una
        simple página. Nos dedicamos a fomentar la conciencia ecológica a través
        de la reutilización de artículos. Creemos en darles una segunda vida a
        objetos que de otra manera podrían terminar contaminando nuestro
        entorno. Cada artículo tiene la oportunidad de ser reinventado,
        transformado y amado nuevamente. Únete a nosotros en este viaje hacia un
        mundo más sostenible, donde cada pequeño acto cuenta.
      </p>
    </div>
  </div>
</div>
